body{
    background-color: rgb(251, 250, 250);
}
h1{
    color: green;
    text-align: left;
    margin: 0px 100px 10px 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
.navbar{
    padding-left: 15pt;
}
.home{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: block;
    margin: 0px 100px 150px 80px;
    padding: 45px;
    background-color: white;
}
.head-text{
    color: green;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
.card{
    margin: 0px 90px 150px 90px;
}