body{
    background-color: rgb(251, 250, 250);
}
h1{
    color: green;
    text-align: left;
    margin: 0px 100px 10px 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
.navbar{
    padding-left: 15pt;
}
.accordion-container{
    margin: 10px 100px 10px 80px;
}
.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #398c17;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button:focus {
    z-index: 3;
    border-color: #01db2d51;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(0, 111, 39, 0.25);
}
.grid-container{
    display: grid;
    grid-auto-flow: row;
    gap: 4px;
    align-items: center;
    justify-items: center;
}
.btn-lg{
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position:absolute;
    bottom: 15px;
    left: 15px;
}
.card-img-top{
    width: 250px;
    height: 250px;
    object-fit: fill;
}
.card{
    align-items: center;
    height:32rem;
    margin-top:10px;
}
.col{
    width:max-content;
}
#return{
    color: green;
    text-align: left;
    margin: 0px 100px 10px 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
#confirm{
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#form-header{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#order-total{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#checkout-form{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#form-container{
    padding-bottom: 8em;
}
