<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shop.css') }}">
    <title>GreenGrocery</title>
  </head>
  
  <body>
	<form>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">GreenGrocery</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
				<a class="nav-link active" href="/shop">Shop<span class="sr-only"></span></a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="/checkout">Checkout</a>
				</li>
			</ul>
			</div>
		</nav>
		
		

		<div>
			<ul class="list-group list-group-flush">
			  <li class="list-group-item">
				<!--Accordion container to make it fit in the middle of the page.-->
			<div class="accordion-container">
			<!--Accordian for displaying each category of item.-->
			<div class="accordion" id="accordionExample">
				<!--Individual accordian tab.-->
				<div class="accordion-item">
				<h2 class="accordion-header" id="headingOne">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Produce
					</button>
				</h2>
				<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<!--Inside the accordian buttons, a grid is used to display items neatly.-->
						<div class="grid-container">
						<div class="row">
							<div class="col">
								<!--Cards are used for each item in the shop.-->
								<div class="card" style="width: 18rem;">
									<img src="static/apples.jpg" class="card-img-top" alt="3 apples.">
									<div class="card-body">
									<h5 class="card-title">Apples: $3.57</h5>
									<p class="card-text">6 Golden Delicious apples hand picked by local producers.</p>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
										  Add to Cart
										</label>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/oranges.jpg" class="card-img-top" alt="Orange">
									<div class="card-body">
									<h5 class="card-title">Oranges: $1.79</h5>
									<p class="card-text">3 Florida Oranges, shipped fresh from northeastern Florida to our stores.</p>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
										  Add to Cart
										</label>
									</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/bananas.jpg" class="card-img-top" alt="Bundle of bananas.">
									<div class="card-body">
									<h5 class="card-title">Bananas: $2.12</h5>
									<p class="card-text">6 Golden Delicious apples hand picked by local producers.</p>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
										  Add to Cart
										</label>
									</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/grapefruit.jpg" class="card-img-top" alt="Grapefruit.">
									<div class="card-body">
									<h5 class="card-title">Grapefruit: $1.13</h5>
									<p class="card-text">Large fresh grapefruit, great for breakfast.</p>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
										  Add to Cart
										</label>
									</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/jackfruit.jpg" class="card-img-top" alt="Jackfruit.">
									<div class="card-body">
									<h5 class="card-title">Jackfruit: $17.28</h5>
									<p class="card-text">Jackfruit grown sustainably in eastern Asia. Sweet tasting, stays fresh for long periods.</p>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
										  Add to Cart
										</label>
									</div>
									</div>
								</div>
							</div>
							</div>
							<div class="row">
								<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/lettuce.jpg" class="card-img-top" alt="Lettuce.">
									<div class="card-body">
										<h5 class="card-title">Lettuce: $2.63</h5>
										<p class="card-text">Fresh Romaine lettuce grown locally.</p>
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
											  Add to Cart
											</label>
										</div>
									</div>
								</div>
								</div>
								<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/tomato.jpg" class="card-img-top" alt="Tomato.">
									<div class="card-body">
										<h5 class="card-title">Tomato: $0.78</h5>
										<p class="card-text">Farmer's market tomatoes, grown by local gardeners.</p>
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
											  Add to Cart
											</label>
										</div>
									</div>
								</div>
								</div>
								<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/bell pepper.jpg" class="card-img-top" alt="Red bell pepper.">
									<div class="card-body">
										<h5 class="card-title">Bell Pepper: $1.07</h5>
										<p class="card-text">Sweet red bell peppers. Great grilled or raw.</p>
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
											  Add to Cart
											</label>
										</div>
									</div>
								</div>
								</div>
								<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/cucumber.jpg" class="card-img-top" alt="A cucumber.">
									<div class="card-body">
										<h5 class="card-title">Cucumber: $1.41</h5>
										<p class="card-text">Fresh cucumber, shipped fresh from local farms.</p>
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
											  Add to Cart
											</label>
										</div>
									</div>
								</div>
								</div>
								<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/onion.jpg" class="card-img-top" alt="Onion.">
									<div class="card-body">
										<h5 class="card-title">Onion: $2.00</h5>
										<p class="card-text">Flavorful yellow onion. Great for grilling, frying, or raw.</p>
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">
											  Add to Cart
											</label>
										</div>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="accordion-item">
				<h2 class="accordion-header" id="headingTwo">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Deli
					</button>
				</h2>
				<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<div class="grid-container">
							<div class="row">
							<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/salami.jpg" class="card-img-top" alt="Sliced salami.">
									<div class="card-body">
									<h5 class="card-title">Salami: $5.12</h5>
									<p class="card-text">Savory salami made by local butchers. Great for sandwiches.</p>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
										  Add to Cart
										</label>
									</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/ham.jpg" class="card-img-top" alt="Sliced ham.">
									<div class="card-body">
									<h5 class="card-title">Ham: $4.40</h5>
									<p class="card-text">Sweet honey ham sourced from local butchers.</p>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
										  Add to Cart
										</label>
									</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/turkey.jpg" class="card-img-top" alt="Sliced turkey.">
									<div class="card-body">
									<h5 class="card-title">Turkey: $4.45</h5>
									<p class="card-text">Lean turkey slices. Flavorful and full of protein.</p>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
										  Add to Cart
										</label>
									</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/swiss.png" class="card-img-top" alt="Sliced swiss cheese.">
									<div class="card-body">
									<h5 class="card-title">Swiss Cheese: $3.30</h5>
									<p class="card-text">Imported swiss cheese. Delicious on sandwiches.</p>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
										  Add to Cart
										</label>
									</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/gouda.jpg" class="card-img-top" alt="Sliced gouda cheese.">
									<div class="card-body">
									<h5 class="card-title">Gouda Cheese: $4.19</h5>
									<p class="card-text">Locally made gouda cheese.</p>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
										  Add to Cart
										</label>
									</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="accordion-item">
				<h2 class="accordion-header" id="headingThree">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Bakery
					</button>
				</h2>
				<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<div class="grid-container">
							<div class="row">
							<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/bread.jpg" class="card-img-top" alt="Loaf of bread.">
									<div class="card-body">
									<h5 class="card-title">Sourdough Bread: $4.87</h5>
									<p class="card-text">Sourdough bread made by our bakers. Warm and crisp, but soft inside.</p>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
										  Add to Cart
										</label>
									</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/bagel.jpg" class="card-img-top" alt="A stack of bagels.">
									<div class="card-body">
									<h5 class="card-title">Bagels: $0.98</h5>
									<p class="card-text">Bagels made by our bakers. Available in blueberry and whole grain.</p>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
										  Add to Cart
										</label>
									</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/sub.png" class="card-img-top" alt="Sandwich roll.">
									<div class="card-body">
									<h5 class="card-title">Sandwich Roll: $1.61</h5>
									<p class="card-text">Fresh baked rolls for sub sandwiches.</p>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
										  Add to Cart
										</label>
									</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/cake.jpg" class="card-img-top" alt="Strawberry cake.">
									<div class="card-body">
									<h5 class="card-title">Cake: $7.87</h5>
									<p class="card-text">Cakes made fresh by our bakers. Call us for information on custom decorated cakes.</p>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
										  Add to Cart
										</label>
									</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/cupcake.jpeg" class="card-img-top" alt="Rainbow cupcake.">
									<div class="card-body">
									<h5 class="card-title">Cupcakes: $2.10</h5>
									<p class="card-text">Cupcakes baked by our bakers. Come in a variety of flavors.</p>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
										  Add to Cart
										</label>
									</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingFour">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
						Dairy
					</button>
					</h2>
					<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<div class="grid-container">
							<div class="row">
							<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/milk.jpg" class="card-img-top" alt="Carton of milk.">
									<div class="card-body">
									<h5 class="card-title">Milk: $1.30 1/2 Gallon</h5>
									<p class="card-text">Milk fresh from local farms.</p>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
										  Add to Cart
										</label>
									</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/yogurt.jpg" class="card-img-top" alt="Individually packaged yogurt.">
									<div class="card-body">
									<h5 class="card-title">Yogurt: $0.99</h5>
									<p class="card-text">Individually packaged yogurt. Available in many flavors.</p>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
										  Add to Cart
										</label>
									</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card" style="width: 18rem;">
									<img src="static/ice cream.jpeg" class="card-img-top" alt="Tub for ice cream.">
									<div class="card-body">
									<h5 class="card-title">Ice Cream: $3.78 Pint</h5>
									<p class="card-text">Pint of ice cream. Available in many flavors.</p>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
										  Add to Cart
										</label>
									</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
				</li>
			  <li class="list-group-item" id="form-container">
				<h3 id="form-header">Complete the form below to process your order.</h3>

			    <form action="{{ url_for('add_user') }}" method="post">
				  <div class="col-md-6">
					<label for="inputName4" class="form-label">Full Name</label>
					<input name = "usrName" type="text" class="form-control" id="inputName4">
				  </div>
				  <div class="col-md-6">
					<label for="inputEmail4" class="form-label">Email</label>
					<input name = "usrEmail" type="email" class="form-control" id="inputEmail4">
				  </div>
				  <div class="col-12">
					<label for="inputAddress" class="form-label">Address</label>
					<input name = "usrAdd1" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
				  </div>
				  <div class="col-12">
					<label for="inputAddress2" class="form-label">Address 2</label>
					<input name = "usrAdd2" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
				  </div>
				  <div class="col-md-6">
					<label for="inputCity" class="form-label">City</label>
					<input name = "usrCity" type="text" class="form-control" id="inputCity">
				  </div>
				  <div class="col-md-4">
					<label for="inputState" class="form-label">State</label>
					<input name = "usrState" type="text" class="form-control" id="inputState">
				  </div>
				  <div class="col-md-2">
					<label for="inputZip" class="form-label">Zip</label>
					<input name = "usrZip" type="text" class="form-control" id="inputZip">
				  </div>
				  <div class="col-12">
					<button type="submit" class="btn btn-success btn-lg" id="confirm">Confirm Order</button>
				  </div>
				</form>
			  </li>
			</ul>
		</div>
	</form>
	 <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>

   
</html>